@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model TutorialDetailsServiceModel

<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold text-white">@Model.Title</h1>
    <p class="col-md-8 fs-4 text-white">@Model.Description</p>

    @if (User.IsInRole(LearnerRole))
    {
        <a asp-controller="Comments" asp-action="CreateComment" asp-route-tutorialId="@Model.Id" class="btn btn-lg text-white" style="background-color: purple">
            Остави коментар
        </a>

        <a asp-controller="Comments" asp-action="AllComments" asp-route-tutorialId="@Model.Id" class="btn btn-lg text-white" style="background-color: purple">
            Виж всички коментари
        </a>

        <a asp-controller="Issues" asp-action="CreateIssue" asp-route-tutorialId="@Model.Id" class="btn btn-danger btn-lg">
            Докладвай проблем
        </a>
    }
</div>


<div class="row row-cols-1 row-cols-md-2 g-4">

    @if (@Model.ResourceUrls.Count() == 0)
    {
        <h2>There are no resources for this tutorial at the moment.</h2>
    }

    @foreach (var resourceUrl in @Model.ResourceUrls)
    {
        <div class="col">
            <div class="card">
                <div class="card-body" style="background-color: rebeccapurple">
                    @if (resourceUrl.EndsWith(".pptx"))
                    {
                        <img src="~/pptxIcon.png" class="card-img-top" width="100" height="300" />
                    }
                    else if (resourceUrl.EndsWith(".pdf"))
                    {
                        <iframe src="~/assets/resources/@resourceUrl" class="card-img-top" sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation" width="100" height="300">
                            @resourceUrl
                        </iframe>
                    }
                    else if (resourceUrl.EndsWith(".mp4"))
                    {
                        <video class="card-img-top" controls>
                            <source src="~/assets/resources/@resourceUrl" type="video/mp4" width="100" height="300">
                        </video>
                    }
                    <h5 class="card-title text-white" style="background-color: rebeccapurple">@Model.Title</h5>
                    <p><a href="~/assets/resources/@resourceUrl" frameborder='0' class="text-decoration-none text-white">@resourceUrl</a></p>
                </div>
            </div>
        </div>
    }
</div>


<a asp-controller="Courses" asp-action="Details" asp-route-courseId="@Model.CourseId" class="btn btn-lg text-white" style="background-color: purple">
    Назад
</a>
