@model CourseDetailsServiceModel

<div class="container" data-aos="fade-up">

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/assets//images/courses/@Model.ImageUrl" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
                    @if (User.IsInRole(AdminRole))
                    {
                        <a asp-area="Admin" asp-controller="Tutorials" asp-action="CreateTutorial"
                       asp-route-courseId="@Model.Id" class="btn text-decoration-none text-white" style="background-color: purple">
                            Добави урок
                        </a>
                    }
                </div>

            </div>
        </div>
    </div>

    <ol class="list-group list-group-numbered col-md-12">
        @foreach (var tutorial in Model.Tutorials)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@tutorial.Title</div>
                    @tutorial.Description
                </div>
                @if (User.IsInRole(AdminRole))
                {
                    <a asp-area="Admin" asp-controller="Tutorials" asp-action="EditTutorial"
               asp-route-courseId="@Model.Id" class="btn btn-secondary text-decoration-none text-white">
                        Редактирай урок
                    </a>
                    <a asp-area="Admin" asp-controller="Tutorials" asp-action="DeleteTutorial"
               asp-route-courseId="@Model.Id" class="btn btn-danger text-decoration-none text-white">
                        Изтрий урок
                    </a>

                }

                <a asp-controller="Tutorials" asp-action="Details"
               asp-route-tutorialId="@tutorial.Id" class="btn btn-success text-decoration-none text-white">
                    Детайли
                </a>

            </li>
        }

    </ol>
</div>


