@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    int lineIndex = 1;
}

<table class="items-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имейл</th>           
            <th scope="col">Опция</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in UserManager.Users)
        {
            <tr>
                <td>@lineIndex</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email.ToString()</td>        
                <td>
                    <button class="btn-edit">
                        <a asp-area="Admin" asp-controller="Users" asp-action="EditUser" asp-route-email="@user.Email">Редактирай</a>
                    </button>
                    <button class="btn-delete">
                        <a asp-area="Admin" asp-controller="Users" asp-action="DeleteUser" asp-route-email="@user.Email">Изтрий</a>
                    </button>
                </td>
            </tr>

            lineIndex++;
        }

    </tbody>
</table>
